.footer{ width: 100%; background: #333; color:#fff; display: flex; text-align: center; padding:20px 15px; }
.footer p{ font-size: 14px;}
.container{ width: 100%; max-width: 1260px; margin: auto;}
.footer p span{ margin-left: 15px; display: inline-flex; flex-wrap: wrap; border-left: 1px solid #fff; padding-left: 10px;}
.footer p span a{ margin: 0 5px;}

.header{ width: 100%; box-shadow: 0 0 10px #ddd;}
.logo{ color:#D61B26; margin-left: -14px;}
.logo a{ display: flex; align-items: center;}
.logo a span {
    font-weight: 600;
    font-size: 20px;
}

.header .container{ display: flex; justify-content: space-between; align-items: center;}
.menubar{ display: flex;}
.navul{ display: flex;}
.navul li{ margin-right: 15px;}

#__next{ display: flex; flex-direction: column; min-height: 100%;}
.middleLayout{flex-grow :1; width: 100%;}

*{margin: 0px; padding: 0px; box-sizing: border-box; list-style: none;}

body, html{ width: 100%; height: 100%;}
.homepageCntr{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;}
.lefthome{ width: 55%;}
.righthome{ width: 40%;}

.termpriv{ width: 100%; padding: 35px 0;}
.termpriv p strong{ display: block; padding-bottom: 10px;}
.termpriv p{ padding: 15px 0 0px 0;}

.menubarClick{ display: none;}
.mobs{ display: none;}

.userIup{ width: 100%; padding: 30px 0;}
.userInn{ display: flex; flex-wrap: wrap; align-items: center; width: 100%; padding: 0px 0 20px 0; border-bottom: 1px solid #ddd; }
.userInnLab{ width: 30%; background: #999;  display: flex;}
.alink{ width: 50%; margin-left: 3%; font-size: 24px; color:#D61B26}
.userIup section{ width: 100%; padding: 30px 0 0 0;}
.userIup section h1{ font-size: 25px; font-weight: 700;}
.userIup section ul{ margin: 0px; display: flex; flex-wrap: wrap; padding: 20px 0 0 0;}
.userIup section ul li{ width: 50%; position: relative; padding: 0 0 10px 30px; font-size: 18px;}
.userIup section ul li::after{ content: ""; position: absolute; left: 0px; top:10px; width: 10px; height: 10px; border-radius: 50%; background: #000;}
.coinHeader{ width: 100%; background: #D61B26; padding: 10px 0; font-size: 18px;}
.coinHeader span{ color: #fff;}
.coinHeader .container{ justify-content: space-between; align-items: center; display: flex; flex-wrap: wrap;}
.coinHeader button{ height: 45px; background: #333; color:#fff; padding: 0 20px; border-radius: 8px;}

@media screen and (max-width: 1260px) {
    .container{ max-width: 100%; width: 100%; padding: 0 20px;}
}

@media screen and (max-width: 900px) {
    .menubarClick{ display: block;}
    .desk{ display: none;}
    .mobs{ display: block;}
    .header .container{ flex-wrap: wrap;}
    .navul {
        width: 100%;
        border-top: 1px dotted #ddd;
        margin: 10px 0;
        padding: 5px 0 0 0;
    }
    .navul li {
        margin-right: 0px;
        border-bottom: 1px dotted #ddd;
        padding: 6px 0;
    }
    .navul li:last-child{ border: 0px;}
    .alink{ font-size: 18px;}
}

@media screen and (max-width: 600px) {
    .homepageCntr{ flex-direction: column-reverse; width: 100%;}
    .lefthome{ width: 100%; padding-bottom: 10px;}
    .righthome { padding-top: 20px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .righthome img{ max-width: 120px;}
    .termpriv{ padding-top: 10px;}
    .footer{ padding:15px 0px;}
    .footer p span{ margin: 0px; width: 100%; border-left: 0px;}
    .alink{ width: 67%; font-size: 16px;}
    .userIup section ul li{ width: 100%; font-size: 16px;}
}